{% extends "FormArmorBundle::client_layout.html.twig" %}
{% block FormArmor_body %}
	<h2>HISTORIQUE DES SESSIONS DE FORMATION</h2>
	<table class="table">
		<thead>
		<tr>
			<th>Formation</th>
			<th>Niveau</th>
			<th>Description</th>
			<th>Date</th>
			<th>Nombre de places</th>
			<th>Nombre d'inscrits</th>
			<th>Etat</th>
		</tr>
		</thead>
		<tbody>
			{% for session in lesSessions %}
				<tr {# si le nombre de passages dans la boucle est pair #} {% if loop.index is even %} class="success" {% else %} class="info" {% endif %}>
					<td>{{session.sessionFormation.formation.libelle}}</td>
					<td>{{session.sessionFormation.formation.niveau}}</td>
					<td>{{session.sessionFormation.formation.description}}</td>
					<td>{{session.sessionFormation.dateDebut|date('d-m-Y')}}</td>
					<td>{{session.sessionFormation.nbPlaces}}</td>					
					<td>{{session.sessionFormation.nbInscrits}}</td>
					{% set currentDate = "now"|date('Y-m-d') %}
					{% if (session.sessionFormation.dateDebut|date('Y-m-d') > currentDate) %}
						<td>EnCours</td>
					{% else %}
						<td>Terminée</td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
	
	<ul class="pagination">
		{# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
		{% for p in range(1, nbPages) %}
			<li{% if p == page %} class="active"{% endif %}>
				<a href="{{ path('form_armor_client_session_historique', {'page': p}) }}">{{ p }}</a>
			</li>
		{% endfor %}
	</ul>
	
	<script>
		$(function() {
			$('#menu2').attr('class', 'active');
		});
	</script>
	
{% endblock %}