{% extends "FormArmorBundle::admin_layout.html.twig" %}
{% block FormArmor_body %}
	<h3>Formulaire de {{ action }} du plan de formation</h3>

	<div class="well">
	  {{ form_start(form, {'attr': {'class': 'form-horizontal', 'data-action': path('form_armor_admin_retourneInfoClient')}}) }}

	  {{ form_errors(form) }}
		  {{ form_row(form.client) }}
		  <span id="tableau"></span>
		  {{ form_row(form.formation) }}
		  {{ form_row(form.effectue) }}
	  <br/>
	  {{ form_widget(form.Valider, {'attr': {'class': 'btn btn-danger'}}) }}
	  
	  <input type="button" value="Retour" class="btn btn-primary" onClick="history.go(-1)" />

	  {{ form_rest(form) }}

	  {{ form_end(form) }}
	</div>
	<script src="{{ asset('js/planFormation.js') }}"></script>
	<script>
		$(function() {
			$('#menu5').attr('class', 'active');
		});
	</script>
	
{% endblock %}